{% extends 'layout.html' %}

{% block yield %}

<div class="about_section">

   <h1>About Us</h1>
   
   <div class="para">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacinia, magna eu interdum vestibulum, lectus justo auctor mauris, at suscipit justo turpis sed neque. Sed venenatis nisi vitae leo venenatis posuere. Nullam ac tortor eros. Vestibulum non nisi non eros bibendum elementum. Nam eu hendrerit lorem. Aliquam sit amet consectetur neque, sit amet lacinia metus. Suspendisse nec urna tincidunt, consequat nulla vel, interdum quam. Donec hendrerit tortor nibh, eget luctus erat laoreet non. Duis sodales, mauris id congue hendrerit, lectus tortor ultrices tellus, id congue ipsum enim a turpis.</p>
    <p>Nunc fermentum tortor eget odio placerat, id vestibulum ex vestibulum. Vestibulum laoreet est quam, a cursus nisi sagittis sit amet. Duis bibendum euismod urna in laoreet. Integer finibus urna et risus dapibus, sit amet volutpat velit consectetur. Suspendisse potenti. Integer in nisi in arcu dignissim pretium a vel est. Praesent maximus viverra dolor, a molestie leo consectetur vitae. Nam eget dui sed mauris pellentesque sodales non non est. Aliquam id ligula vel velit congue aliquet a eget odio. Fusce sit amet orci at augue imperdiet pharetra ut id nisi.</p>
   </div>
    
</div>  
{% endblock %}