{% extends 'layout.html' %}

{% block yield %}
	<div class="flights-title">
		<h2>Available Flights</h2>
	</div>

<div class="flights-container">
	{% for flight in flights %}
	  <div class="flights-item card">
		<div class="flights">
			<p>From : {{flight.departure}}</p>
			<p>To :{{flight.destination}}</p>
			<p>{{flight.standard}}</p>
		</div>

		<div class="detail-btn">
			<button>
				<a href="{% url 'flightdetails' flight.id %}">See more detail</a>
			</button>
		</div>
	  </div>
	{% endfor %}
</div>
{% endblock %}