{% extends 'layout.html' %}

{% block yield %}
  <h1>Welcome to the Airport Management System!</h1>
    <main>
      <h2>What is the Airport Management System?</h2>
      <p>Our system is designed to help airport administrators and staff manage key aspects of airport operations, including flight schedules and bookings, passenger check-ins and baggage handling, staff roles and responsibilities, and inventory tracking.</p>
      <p>With our easy-to-use interface, you can quickly access and manage flight schedules, passenger bookings, and staff and inventory information. Our system also provides real-time updates on flight statuses and gate assignments, ensuring a smooth and efficient airport experience for both staff and passengers.</p>
      <h4>Who can benefit from the Airport Management System?</h4>
      <p>Our system is ideal for airports of all sizes, from small regional airports to major international hubs. Whether you're looking to streamline your airport operations, improve customer service, or enhance security and safety protocols, our system can help.</p>
      <h4>What are some key features of the Airport Management System?</h4>
      <p>Some of the key features of our system include:</p>
      <ul>
        <li>Flight schedule management</li>
        <li>Passenger booking and check-in</li>
        <li>Baggage handling</li>
        <li>Staff management</li>
        <li>Inventory tracking</li>
        <li>Real-time flight status updates</li>
        <li>Gate assignment management</li>
        <li>Customizable reporting and analytics</li>
      </ul>
      <p>Whether you're a small regional airport or a major international hub, our Airport Management System can help you optimize your operations, enhance customer service, and improve overall airport efficiency.</p>
    </main>
{% endblock %}