<nav class="bar">
    <div class="icon">
    <i class="fa-solid fa-plane"></i>
    </div>

    <nav class="links">
        <div>
            <a class="link" href="{% url 'index' %}">Home</a>
        </div>
        <div>
            <a class="link" href="{% url 'about' %}">About</a>
        </div>
        <div>
            <a class="link" href="{% url 'flightlists' %}">Flights</a>
        </div>
        <div>
            <a class="link" href="{% url 'city' %}">City Lists</a>
        </div>
    </nav>
</nav>